<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/navbar.css') }}" />
    <title>111213015 蔡昇佑</title>
  </head>
  <body>
  <footer class="footer">
    <div class="bottom">
      <div class="bottom-left">
        <p class="bottom-title">111213015 Sheng Yu, Tsai</p>
        <hr/>
        <ul>
          <li onClick="location.href='/';">Home</li>
          <li onClick="location.href='/auction';">Auction</li>
          <li onClick="location.href='/';">Contact</li>
        </ul>
      </div>
      <div class="bottom-right">
        <img src="{{ url_for('static', filename='/img/split.jpg') }}"/>
      </div>
    </div>
    <div class="copyright">&copy; Create by Justin Tsai 111213015</div>
  </footer>
</body>
</html>
