<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>111213015 蔡昇佑</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/product.css') }}" />
  </head>
  <body>
    {% include "navbar.html" %}
    {% include "productlist.html" %}
    {% include "bottom.html" %}
  </body>
</html>
