<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      slide-content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>111213015 蔡昇佑</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/slide.css') }}" />
  </head>
  <body>
    <header class="slide-container">
      <div class="slide">
        <div
          class="slide-item"
          style="background-image: url({{ url_for('static', filename='/img/1.jpg') }})"
        >
          <div class="slide-content">
            <div class="name">翠玉白菜</div>
            <div class="des">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
              maiores!
            </div>
            <button>see more</button>
          </div>
        </div>

        <div
          class="slide-item"
          style="background-image: url({{ url_for('static', filename='/img/2.jpg') }})"
        >
          <div class="slide-content">
            <div class="name">黃釉瓷硯</div>
            <div class="des">
              瓷硯，除硯面外均滿釉。高壁，內腔中空，上方的圓形墨池，既為窯燒的氣孔，且可注溫水以暖硯。
            </div>
            <button>see more</button>
          </div>
        </div>

        <div
          class="slide-item"
          style="background-image: url({{ url_for('static', filename='/img/3.jpg') }})"
        >
          <div class="slide-content">
            <div class="name">景德鎮窯 粉彩福祿壽葫蘆瓶</div>
            <div class="des">
              全器罩施橘紅色底釉，口緣描金，底足外壁畫如意雲紋，器身滿畫纏枝藤蔓與葫蘆。
            </div>
            <button>see more</button>
          </div>
        </div>

        <div
          class="slide-item"
          style="background-image: url({{ url_for('static', filename='/img/4.jpg') }})"
        >
          <div class="slide-content">
            <div class="name">齊家文化 玉璜</div>
            <div class="des">
              青白玉質，局部沁成褐色，有璺。呈兩側對稱條弧形，邊緣不平整，兩側各鑽一孔。
            </div>
            <button>see more</button>
          </div>
        </div>

        <div
          class="slide-item"
          style="background-image: url({{ url_for('static', filename='/img/5.jpg') }})"
        >
          <div class="slide-content">
            <div class="name">齊家文化 玉琮</div>
            <div class="des">
              灰青帶綠，「糖包白」青玉質，糖的部分顏色極深，盤紅色澤溫潤。
            </div>
            <button>see more</button>
          </div>
        </div>

        <div
          class="slide-item"
          style="background-image: url({{ url_for('static', filename='/img/6.jpg') }})"
        >
          <div class="slide-content">
            <div class="name">玉版 附清代乾隆時期紫檀木架</div>
            <div class="des">
              此件成做於新石器時代龍山齊家系文化的梯形玉版，呈赭紅帶黃綠色，中間帶有斑點團塊。尺寸巨大，氣勢恢弘。
            </div>
            <button>see more</button>
          </div>
        </div>
      </div>

      <div class="slide-button">
        <button class="prev">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="next">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </header>
    <script>
      let next = document.querySelector(".next");
      let prev = document.querySelector(".prev");
      console.log(1)
      next.addEventListener("click", function () {
        let items = document.querySelectorAll(".slide-item");
        document.querySelector(".slide").appendChild(items[0]);
      });

      prev.addEventListener("click", function () {
        let items = document.querySelectorAll(".slide-item");
        document.querySelector(".slide").prepend(items[items.length - 1]);
      });
    </script>
  </body>
</html>
