@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.product-section{
  padding-top: 90px;
}
.product-section h1{
  width: 1380px;
  padding: 15px;
  padding-top: 30px;
  font-size: 40px;
  margin: auto;
}
/* product-list */
.product-list {
    margin: auto;
    width: 1380px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
  }
  
  .container {
    width: 300px;
    box-shadow: 2px 2px 10px rgb(0, 19, 5);
    margin: 15px 15px 15px 15px;
    transition: 0.5s;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  .add{
    justify-content: center;
    align-items: center;
  }
  .add-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 7px rgb(0, 34, 9) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    path{
      fill: rgb(0, 34, 9);
      transition: .3s;
    }
  }
  .container:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 20px rgb(0, 19, 5);
    cursor: pointer;
  }
  .container p {
    margin: 5px;
    font-size: 18px;
  }
  .product-list .container .img-box{
    height: 60%;
    text-align: center;
    background-color: rgb(35, 35, 35);
    img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .product-list .container .textbox {
    flex-grow: 1;
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 19, 5);
  }
